<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Alto Gamer Infite Scroll jQuery Plugin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            h3 {
                margin-bottom: 150px;
            }
        </style>
    </head>
    <body>
        <h1>Alto Gamer Infite Scroll jQuery Plugin</h1>

        <!-- This is the container where the plugin is going to be rendered. -->
        <div id="itemList" data-ag-next-page-url="data0.json"></div>

        <!-- When this container is reached, more items will be retrieved. -->
        <div id="agLoadMoreItems">Loading items...</div>


        <!-- This is a jsrender template used to render the items.
             You can edit this template and customize it to your liking.
        -->
        <script id="agInfiniteScrollListTemplate" type="text/x-jsrender">
            <h2>{{>name}}</h2>
            <h3>{{>serie}}</h3>
        </script>


        <!-- Load libraries... -->
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="http://www.jsviews.com/download/jsrender.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery-ag-infinite-scroll-list.js"></script>


        <!-- Everything is set, just use the plugin!

             Most options are optional and have a default value.
               loadMoreItemsContainerId: when this container is reached, more items will be retrieved. Default: agLoadMoreItems
               scrollOffset: The offset for loadMoreItemsContainerId to trigger. Default: 125%
               jsrenderTemplateId: the id of a jsrender template to use when rendering results. Default: agInfiniteScrollListTemplate
               hideLoadMoreItemsContainerOnEmptyResults: hide loadMoreItemsContainerId when no more results are found. Default: true
        -->
        <script>
            $(document).ready(function () {
                $("#itemList").altogamerInfiniteScrollList();
                //$("#itemList").altogamerInfiniteScrollList({offset: "100%"});

                //Render a message when there are no more results.
                $("#itemList").on("agInfiniteScrollEmptyResults", function () {
                    $("#itemList").append("<p>End of list reached.</p>");
                });
            });
        </script>
    </body>
</html>
